<video poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid" playsinline autoplay muted loop src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4"></video>




<div class="welcomebox">

<!--	
<video autoplay  poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid" loop>
	<source src="//demosthenes.info/assets/videos/polina.webm" type="video/webm">
	<source src="//demosthenes.info/assets/videos/polina.mp4" type="video/mp4">
</video>

-->



	<div class="centersloganbox">
		<div class="shadedbox">
			<h1> we'll help you <br> build the <br> perfect smile</h1>
		</div>
	</div>


<!-- <%= link_to 'New Static', new_static_path %> -->

	<div class="bottomlinkbox">
		<a href="#squadp">
			Meet the Team
			<!-- <i class="glyphicon glyphicon-chevron-down"></i> -->
		</a>
	</div>
</div>



<%= render 'layouts/team' %>


