<div class="welcomebox">

<!--	
<video autoplay  poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid" loop>
	<source src="//demosthenes.info/assets/videos/polina.webm" type="video/webm">
	<source src="//demosthenes.info/assets/videos/polina.mp4" type="video/mp4">
</video>

-->

	<div class="centersloganbox">
		<div class="shadedbox">
			<h1>LOL</h1>
			<h5>with passion, enthusiasm and love</h5>
		</div>
	</div>


<!-- <%= link_to 'New Static', new_static_path %> -->

	<div class="bottomlinkbox">
		<a href="#squadp">
			Meet the M8s
			<!-- <i class="glyphicon glyphicon-chevron-down"></i> -->
		</a>
	</div>
</div>



<%= render 'layouts/team' %>


