<div class="mainfooter">


    <div class="container">
    	<div class="row">
    		<div class="twelve columns">
    			<h5 class="connectslogan">
    				connect with us
    			</h5>
    		</div>
    	</div>

    	<div class="row">
    		<div class="twelve columns">
    		<ul>
    			<li>
		        <a href="https://twitter.com">
		          <img class="sicons" src="/twitter.png" alt="" />
		        </a>
		      </li>
		      <li>
		        <a href="https://facebook.com">
		          <img class="sicons" src="/facebook.png" alt="" />
		        </a>
		      </li>
		      <li>
		        <a href="https://youtube.com">
		          <img class="sicons" src="/youtube.png" alt="" />
		        </a>
		      </li>
		      <li>
		        <a href="https://instagram.com">
		          <img class="sicons" src="/instagram.png" alt="" />
		        </a>
		      </li>

		      <li>
		        <a href="https://reddit.com">
		          <img class="sicons" src="/reddit.png" alt="" />
		        </a>
		      </li>

		      <li>
		        <a href="https://reddit.com">
		          <img class="sicons" src="/email.png" alt="" />
		        </a>
		      </li>
		  	</ul>
    		</div>
    	</div>
    </div>
</div>
