
<div class="mainheader container">
  <div class="row">
    <div class="twelve columns">
    <a id="mainlogo" href="/">
      
      <div class="logotext">Ardor</div>
      <img src="/whiteheart.png" alt="" class="mainheaderlogo"/>
    </a>

    <ul class="nav headernav">
      <li><a href="">Swag Shop</a></li>
      <li><a href="/mates">Sponsors</a></li>
      <li class="boxedheaderbutton">
        <a href="">Connect With Us</a>
      </li>
    </ul>
    </div>
  </div>
</div>
