
<div class="mainheader container">
  <div class="row">
    <div class="twelve columns">
    <a id="mainlogo" href="/">
      
      <div class="logotext">
        Sein H. Siao 
        <br>
        <span class="logo2">DMD</span>
      </div>
      <!-- <img src="/whiteheart.png" alt="" class="mainheaderlogo"/> -->
    </a>

    <ul class="nav headernav">
      <li><a href="">Location</a></li>
      <li><a href="">Office Info</a></li>
      <li><a href="/mates">Treatments</a></li>
      <li class="boxedheaderbutton">
        <a href="">Contact Us</a>
      </li>
    </ul>
    </div>
  </div>
</div>
