<div class="teamsection" id="squadp">
	<div class="teamrow">
		<div class="teambox">
			<img src="http://www.fisherandsiao.com/images/staff/Sein_Dr_21Jul2017.jpg">
			<span class="tboverlay">
			Sein H. Siao <br> <span class="ttitle">D.M.D.</span>
			</span>
		</div>
		<div class="teambox">
			<img src="http://www.fisherandsiao.com/images/staff/Jeanne_Dr_21Jul2017.jpg">
			<span class="tboverlay">
			Jeanne C. Un <br> <span class="ttitle">D.M.D.</span>
			</span>
		</div>
		<div class="teambox">
			<img src="http://www.fisherandsiao.com/images/staff/Stacey_21Jul2017.jpg">
			<span class="tboverlay">
			Stacey Deffley <br> <span class="ttitle">Dental Assistant</span>
			</span>
		</div>
		<div class="teambox">
			<img src="http://www.fisherandsiao.com/images/staff/Amanda_21Jul2017.jpg">
			<span class="tboverlay">
			Amanda D’Amario <br> <span class="ttitle">Dental Assistant</span>
			</span>
			
		</div>
	</div>

	<div class="teamrow">
		<div class="teambox">
			<img src="http://www.fisherandsiao.com/images/staff/Shelli_21Jul2017.jpg">
			<span class="tboverlay">
			Shelli Appell <br> <span class="ttitle">Front Desk</span>
			</span>
			
		</div>
		<div class="teambox">
			<img src="http://www.fisherandsiao.com/images/staff/kristin_21Jul2017.jpg">
			<span class="tboverlay">
			Kristin Guildford <br> <span class="ttitle">Front Desk</span>
			</span>
		</div>
		<div class="teambox">
			<img src="http://www.fisherandsiao.com/images/staff/Chrissy_21Jul2017.jpg">
			<span class="tboverlay">
			Chrissy Allen <br> <span class="ttitle">Front Desk</span>
			</span>
		</div>
		<div class="teambox">
			<img src="http://www.fisherandsiao.com/images/staff/candy_20Nov2015.jpg">
			<span class="tboverlay">
			Candy Barbosa <br> <span class="ttitle">Office Manager</span>
			</span>
		</div>
		
	</div>





</div>
<!--
	<div class="row">
		<div class="twelve columns">
			<h1 class="teamsectiontitle">
				Our Team
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="four columns">
			<div class="teammatebox">

				<h5 class="ign">Moohannamtat</h5>

				<p class="teammaterole">
					Top
				</p>
				
				<div class="matehover">

					<div class="matesocialmediabar">
						<ul>
							<li>
								<a href="">
									<img src="/whitef.png">
								</a>
							</li>
							<li>
								<a href="">
									<img class="whitet" src="/whitet.png">
								</a>
							</li>
							<li>
								<a href="">
									<img class="whitey" src="/whitey.png">
								</a>
							</li>


						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="four columns">
			<div class="teammatebox">

				<img src="">
				<h5>Heart Alchemist</h5>

				<p class="teammaterole">
					Jungle
				</p>
			</div>
		</div>
		<div class="four columns">
			<div class="teammatebox">

				<img src="">
				<h5>Fill</h5>

				<p class="teammaterole">
					Mid
				</p>
			</div>
		</div>
		
	</div>
	<div class="row">
		<div class="four columns">
			<div class="teammatebox">

				<img src="">
				<h5>Fill</h5>

				<p class="teammaterole">
					ADC
				</p>
			</div>
		</div>
		<div class="four columns">
			<div class="teammatebox">

				<img src="">
				<h5>Fill</h5>

				<p class="teammaterole">
					Support
				</p>
			</div>
		</div>
		<div class="four columns">
			<div class="teammatebox">

				<img src="">
				<h5>Fill</h5>

				<p class="teammaterole">
					Head Coach
				</p>
			</div>
		</div>
	</div>
</div>
-->

<!--
<div class="secondbottombutton">
	<a href="">Behind the Magic</a>
</div>
-->

<div class="container">
	<div class="row">
		
	</div>
</div>