<div class="container teamsection" id="squadp">

	<div class="row">
		<div class="twelve columns">
			<h1 class="teamsectiontitle">
				Our Team
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="four columns">
			<div class="teammatebox">

				<h5 class="ign">Doctor Yang</h5>

				<p class="teammaterole">
					Top
				</p>
				
				<div class="matehover">

					<div class="matesocialmediabar">
						<ul>
							<li>
								<a href="">
									<img src="/whitef.png">
								</a>
							</li>
							<li>
								<a href="">
									<img class="whitet" src="/whitet.png">
								</a>
							</li>
							<li>
								<a href="">
									<img class="whitey" src="/whitey.png">
								</a>
							</li>


						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="four columns">
			<div class="teammatebox">

				<img src="">
				<h5>Heart Alchemist</h5>

				<p class="teammaterole">
					Jungle
				</p>
			</div>
		</div>
		<div class="four columns">
			<div class="teammatebox">

				<img src="">
				<h5>BobqinXD</h5>

				<p class="teammaterole">
					Mid
				</p>
			</div>
		</div>
		
	</div>
	<div class="row">
		<div class="four columns">
			<div class="teammatebox">

				<img src="">
				<h5>Hi Im Gosu</h5>

				<p class="teammaterole">
					ADC
				</p>
			</div>
		</div>
		<div class="four columns">
			<div class="teammatebox">

				<img src="">
				<h5>Valkrin</h5>

				<p class="teammaterole">
					Support
				</p>
			</div>
		</div>
		<div class="four columns">
			<div class="teammatebox">

				<img src="">
				<h5>Dan Dinh</h5>

				<p class="teammaterole">
					Head Coach
				</p>
			</div>
		</div>
	</div>
</div>

<div class="secondbottombutton">
	<a href="">Behind the Magic</a>
</div>

<div class="container">
	<div class="row">
		
	</div>
</div>